<div class="top-bar">

  <!-- LEFT: Profile -->
  <div class="left-section">
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="profile-img">
  </div>

  <!-- CENTER: Search -->
  <div class="center-section">
    <div class="search-box">
      <i class="bi bi-search"></i>
      <input type="text" placeholder="Search products..."  [(ngModel)]="searchText"
       (input)="searchProduct()">
    </div>
  </div>

  <!-- RIGHT: Icons -->
  <div class="right-section">
    <i class="bi bi-heart"></i>

    <div class="cart-icon">
      <i class="bi bi-cart3"></i>
      <span class="cart-badge">{{cartCount}}</span>
    </div>
  </div>

</div>

<div class="category-scroll px-2">

  <div class="category-item" *ngFor="let cat of categories" (click)="filterCategory(cat.name)">
    <img [src]="cat.img" alt="{{cat.name}}">
    <p>{{cat.name}}</p>
  </div>

</div>

<div class="container mt-4">

  <div class="row">

    <div class="col-md-3 mb-4" *ngFor="let p of filteredProducts">

      <div class="card product-card shadow-sm">

        <img [src]="p.image" class="card-img-top" height="150">

        <div class="card-body text-center">

          <h6>{{p.name}}</h6>
          <p class="text-muted">{{p.category}}</p>

          <h5 class="text-success">₹{{p.price}}</h5>

          <button class="btn btn-primary w-100"
                  (click)="addToCart(p)">
            Add to Cart
          </button>

        </div>

      </div>

    </div>

  </div>

</div>

