<div class="top-bar">

  <!-- LEFT: Profile -->
  <div class="left-section">
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="profile-img">
  </div>

  <!-- CENTER: Search -->
  <div class="center-section">
    <div class="search-box">
      <i class="bi bi-search"></i>
      <input type="text" placeholder="Search products...">
    </div>
  </div>

  <!-- RIGHT: Icons -->
  <div class="right-section">
    <i class="bi bi-heart"></i>

    <div class="cart-icon">
      <i class="bi bi-cart3"></i>
      <span class="cart-badge">{{cartCount}}</span>
    </div>
  </div>

</div>

<div class="category-scroll px-2">

  <div class="category-item" *ngFor="let cat of categories">
    <img [src]="cat.img" alt="{{cat.name}}">
    <p>{{cat.name}}</p>
  </div>

</div>